@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --color-accent: var(--color-gray-800);
        --color-accent-content: var(--color-gray-800);
        --color-accent-foreground: var(--color-white);
    }

    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-gray-800);
    }
}
